@model NEXT.Project.SuperForum.Web.ViewModels.TopicViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Html.DisplayFor(model => model.Topic.Title)</h2>
    <p class="text-muted small">
        @Html.DisplayNameFor(model => model.CreatedAt) @Html.DisplayFor(model => model.Topic.CreatedAt) | 
        @Html.DisplayNameFor(model => model.UpdatedAt) @Html.DisplayFor(model => model.Topic.UpdatedAt)
    </p>
    <p class="text-muted">
        @Html.DisplayNameFor(model => model.User): @Html.DisplayFor(model => model.Topic.User.Name)
    </p>
    <hr />
    <p>
        @Html.DisplayFor(model => model.Topic.Description)
    </p>
</div>
<hr />
<p>
    @{
        if (Session["UserLoggedInId"] != null && Session["UserLoggedInId"].Equals(Model.Topic.UserId))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Topic.Id }) <span>|</span>
            @Html.ActionLink("Delete", "Delete", new { id = Model.Topic.Id }) <span>|</span>
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
