@model NEXT.Project.SuperForum.Web.ViewModels.TopicListViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Topics</h2>

@{
    if (Session["UserLoggedInId"] != null)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
@using (Html.BeginForm("Index", "Topics", FormMethod.Get))
{
    <div class="form-inline text-right">
        <div class="form-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
<br />
<div class="list-group">
    @foreach (var item in Model.PagedTopics)
    {
        <a href="@Url.Action("Details", "Topics", new { id = item.Id })" class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                <small>@Html.DisplayFor(modelItem => item.CreatedAt)</small>
            </div>
            <small>@Html.DisplayNameFor(model => model.User): @Html.DisplayFor(modelItem => item.User.Name)</small>
        </a>
    }

</div>

<br />

@using (Html.BeginForm("Index", "Topics", FormMethod.Get))
{
    <div class="form-inline text-right">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.PageSize)
            @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { onchange = "this.form.submit();", @class = "form-control" })
        </div>
    </div>
}

Page @(Model.PagedTopics.PageCount < Model.PagedTopics.PageNumber ? 0 : Model.PagedTopics.PageNumber) of @Model.PagedTopics.PageCount

@Html.PagedListPager(Model.PagedTopics, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))

